body { font-size: 10px; }

@font-face{
  font-family:"Simple-Light";
  src:url("https://Racheljin7.github.io/HTML-Markup/SimpleOTF/Simple-Light.otf");
}

@font-face{
  font-family:"Simple-Oblique";
  src:url("https://Racheljin7.github.io/HTML-Markup/SimpleOTF/Simple-Oblique.otf");
}

@font-face{
  font-family:"Simple-Bold";
  src:url("https://Racheljin7.github.io/HTML-Markup/SimpleOTF/Simple-Bold.otf");
}

.title {
  font-family: "Simple-Bold";
  font-size: 1.6em;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  transform: rotate(270deg);
  position: absolute;
  top: 45vh;
  left:-15vh;
}

.frame{
  position: absolute;
  left: 43vh;
  top:2vh;
  width: 105vh;
  overflow: scroll;
  height: 95vh;
}


.intro{
  font-family: "Simple-Oblique";
  font-size:1.9em;
}


.p1{
  font-family:"Simple-Light";
  font-size: 1.5em;
}

.head1{
  font-family: "Simple-Oblique";
  font-size: 1.2em;
}

.p2{
  font-family:"Simple-Light";
  font-size: 1.5em;
}

.head2{
font-family: "Simple-Oblique";
  font-size: 1.2em;
}

.p3{
  font-family:"Simple-Light";
  font-size: 1.5em;
}

.head3{
  font-family: "Simple-Oblique";
  font-size: 1.2em;
}

.p4{
  font-family:"Simple-Light";
  font-size: 1.5em;
}

.head4{
  font-family: "Simple-Oblique";
  font-size: 1.2em;
}

.p5{
  font-family:"Simple-Light";
  font-size: 1.5em;
}

.head5{
  font-family: "Simple-Oblique";
  font-size: 1.2em;
}

.p6{
  font-family:"Simple-Light";
  font-size: 1.5em;
}

.head6{
  font-family: "Simple-Oblique";
  font-size: 1.2em;
}

.p7{
  font-family:"Simple-Light";
  font-size: 1.5em;
}


.head7{
  font-family: "Simple-Oblique";
  font-size: 1.2em;
}

.p8{
  font-family:"Simple-Light";
  font-size: 1.5em;
}

.head8{
  font-family: "Simple-Oblique";
  font-size: 1.2em;
}

.p9{
  font-family:"Simple-Light";
  font-size: 1.5em;
}

.head9{
  font-family: "Simple-Oblique";
  font-size: 1.2em;
}

.p10{
  font-family:"Simple-Light";
  font-size: 1.5em;
}

.head10{
  font-family: "Simple-Oblique";
  font-size: 1.2em;
}

.p11{
  font-family:"Simple-Light";
  font-size: 1.5em;
}
